{
  "extends": ["pagarme-base"],
  "env": {
    "node": true
  },
  "rules": {
    "import/prefer-default-export": false,
    "import/no-extraneous-dependencies": false,
    "import/no-unresolved": false,
    "import/extensions": false
  }
}
