name: ECS Build and Push

on:
  workflow_call:
    outputs:
      image:
        value: ${{ jobs.build-handler.outputs.image }}
      tag: 
        value: ${{ jobs.generate-tag.outputs.tag }}

    inputs:
      ENVIRONMENT:
        description: enviroment to push image
        required: true
        type: string
        default: ""
      IMAGE_TAG:
        description: Tag to be used (if empty, will be used git short_sha)
        type: string
        default: ""
        required: false
      STATIC_TAG:
        description: Static tag
        type: string
        default: "latest"
        required: false
      ECR_REPOSITORY:
        description: ECR repository name
        required: true
        type: string
      RUNS_ON:
        description: Choose runner type
        required: false
        type: string
        default: small-runner
      AWS_REGION:
        description: AWS region
        required: false
        default: us-east-1
        type: string
      WORK_DIR:
        description: change folder
        required: false
        type: string
        default: "."
      DOCKERFILE:
        description: "change path dockerfile"
        required: false
        type: string
        default: "./Dockerfile.prod"
      SUBMODULES:
        description: "submodules repository"
        required: false
        type: string
        default: false
      TARGET:
        description: "Target for multi-stage builds"
        required: false
        type: string
        default: ""

    secrets:
      AWS_ACCESS_KEY_ID:
        required: true
      AWS_SECRET_ACCESS_KEY:
        required: true
      DOCKER_IMAGES_AWS_PULL_ACCESS_KEY_ID:
        required: true
      DOCKER_IMAGES_AWS_PULL_SECRET_ACCESS_KEY:
        required: true

jobs:
  generate-tag:
    # Como o repositório é publico não é possível utilizar uma máquina self-hosted
    runs-on: ubuntu-latest
    steps:
      - name: Get Github Release tag
        id: tag
        run: |
          echo "tag=${GITHUB_REF_NAME}" >> $GITHUB_OUTPUT
          echo "tag=${GITHUB_REF_NAME}"
    outputs:
      tag: ${{ steps.tag.outputs.tag }}

  build-handler:
    runs-on: ubuntu-latest
    needs: generate-tag
    environment: ${{ inputs.ENVIRONMENT }}
    
    outputs:
      image: ${{ steps.build_image.outputs.image }}
      static: ${{ steps.build_image.outputs.static_image }}
    
    steps:
      - name: checkout
        uses: actions/checkout@v3
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        id: configure-ecr
        with:
          aws-access-key-id: ${{ secrets.DOCKER_IMAGES_AWS_PULL_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.DOCKER_IMAGES_AWS_PULL_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          mask-aws-account-id: "no"

      - name: Login no Elastic Container Registry / ECR
        uses: aws-actions/amazon-ecr-login@v1

      - name: Docker pull pagarme-node8.9
        run: |
          docker pull 697525377503.dkr.ecr.us-east-1.amazonaws.com/pay-docker-base-images:pagarme-node8.9

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
          mask-aws-account-id: "no"

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Build, tag, and push image to Amazon ECR (using short sha)
        id: build_image
        env:
          TAG: ${{ needs.jobs.generate-tag.outputs.tag }}
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          DOCKER_BUILDKIT: 1
        run: |
          cd ${{ inputs.WORK_DIR }}
          [ -z ${{ inputs.IMAGE_TAG }} ] && IMAGE_TAG=${GITHUB_SHA::7} || IMAGE_TAG=$TAG
          [ -z ${{ inputs.TARGET }} ] && TARGET_PARAM="" || TARGET_PARAM="--target ${{ inputs.TARGET }}"
          [ -z ${{ inputs.STATIC_TAG }} ] && STATIC="" || STATIC="-t $ECR_REGISTRY/${{ inputs.ECR_REPOSITORY }}:${{ inputs.STATIC_TAG }}" 
          docker build -t $ECR_REGISTRY/${{ inputs.ECR_REPOSITORY }}:$IMAGE_TAG $STATIC -f ${{ inputs.DOCKERFILE }} --build-arg DD_VERSION=$IMAGE_TAG $TARGET_PARAM .
          docker push $ECR_REGISTRY/${{ inputs.ECR_REPOSITORY }} --all-tags
          echo "image=$ECR_REGISTRY/${{ inputs.ECR_REPOSITORY }}:$IMAGE_TAG" >> $GITHUB_OUTPUT
          echo "static_image=$ECR_REGISTRY/${{ inputs.ECR_REPOSITORY }}:${{ inputs.STATIC_TAG }}" >> $GITHUB_OUTPUT
          echo $TAG
          echo ${{ needs.jobs.generate-tag.outputs.tag }}


